body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background-color: #c4d8ff;
    color: #3a3694;
    border: 1px solid #cccccd;
}

.message-success {
    background-color: #c8f3d5;
    color: #287947;
    border: 1px solid #cdcdcd;
}

.message-warning {
    background-color: #fdfcc2;
    color: #958328;
    border: 1px solid #d1d1d1;
}

.message-error {
    background-color: #fbccd2;
    color: #86223c;
    border: 1px solid #d4d4d4;
}

div {
    padding: 15px;
    margin: 10px;
    border-radius: 15px;

}